[General]
ConfigVersion=1.2
InstanceType=OneSix
ExportAuthor={{ini_quote AUTHOR}}
MaxMemAlloc=8192
MinMemAlloc=512
PermGen=256
name={{ini_quote NAME}}
iconKey=empack_icon
AutoUpdate=false
ManagedPack=true
OverrideCommands=true
PreLaunchCommand={{#if INSTANCE_PREPARE_COMMAND}}{{ini_quote INSTANCE_PREPARE_COMMAND}}{{/if}}
WrapperCommand={{#if INSTANCE_WRAPPER_COMMAND}}{{ini_quote INSTANCE_WRAPPER_COMMAND}}{{/if}}
